$font-family: 'Open Sans', sans-serif;
$font-size_btn: 1.5rem;
$site-color: #f5f5ed;

@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

body {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: $font-family;
}

p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  background-color: $site-color;
}

.append_btn {
  padding: 7px;
  outline: none;
  cursor: pointer;
  @include border-radius(17px);
  background-color: $site-color;
  border: 1px solid rgba(0,0,0,.3);
  &:hover {
    border-color: #000;
  }
}

.modal_wrap {
  margin: auto;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color: $site-color;
  @include border-radius(11px);
}

.modal_close {
  display: none;
}

.modal {
  padding: 30px;
  max-width: 350px;
  height: 335px;
  h2{
    margin-top: 8px;
    margin-bottom: 37px;
  }
  textarea {
    width: 97%;
    height: 70px;
    padding: 5px;
    outline: none;
    @include border-radius(5px);
  }
  button {
    padding: 7px;
    @include border-radius(15px);;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: $font-size_btn;
    border: 1px solid rgba(0,0,0,.3);
    background-color: #fff;
    &:hover {
      color: #fff;
      background: red;
    }
  }
  p:first-child {
    font-size: 2.3rem;
    margin-top: 10px;
    line-height: 2.8rem;
  }
}

.modal_p {
  font-style: italic;
  color: #888888;
}

.close {
  position: absolute;
  right: 20px;
  top: 8px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:after,&:before {
    position: absolute;
    left: 32px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.products_wrap {
  max-width: 100%;
  min-width: 1000px;
  padding-top: 1px;
  height: 800px;
  background: linear-gradient(blue 4%, #fff 37%);
  h1 {
    margin-left: 15px;
    font-size: 2.4rem;
  }
}

.products {
  max-width: 96%;
  margin-top: 20px;
  height: 770px;
  margin: auto;
  padding: 5px;
  display: flex;
  @include border-radius(5px);
  background-color: #fff;
  justify-content: space-around;
}

.products_img {
  width: 49%;
  height: 770px;
  img {
    max-width: 100%;
  }
}

.products_info {
  width: 49%;
  height: 770px;
  // background-color: red;
}

.basket {
  height: 300px;
  background-color: yellow;
}

.characteristic {
  height: 470px;
  font-size: 1.7rem;
  // background-color: green;
}

.characteristic_nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li {
      list-style: none;
      a {
        font-weight: bold;
        margin-right: 15px;
        text-decoration: none;
        color: #1f84db;
        text-transform: uppercase;
        white-space: nowrap;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 1px dashed #1f84db;
        &:hover {
          color: red;
          border-bottom-color: rgba(31,132,219,.3);
        }
      }
    }
  }
}

#a_active {
  color: #000;
  border: none;
}

.properties {
  ul {
    padding: 0;
    list-style: none;
    li {
      padding-top: 8px;
      font-size: 1.3rem;
      span:first-child{
        display: block;
        width: 55%;;
        float: left;
      }
    }
  }
}

.properties_header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
